@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Anton&family=Lobster&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.modo-claro {
	background-color: bisque;
}

.modo-oscuro {
	background-color: rgb(18, 17, 17);
}

header {
	font-family: 'Lobster', cursive;
	border-bottom: 2px solid black;
	padding: 15px;
	height: 15%;
	background-color: #87a8a5;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 10px;
}
#botonCerrar {
	display: none;
}

.conteiner {
	font-family: 'Anek Telugu', sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
	width: 100%;
}

.card {
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: auto;
	background-color: #d8e8c6;
	border: 1px solid #6db6b0;
}
.modo-oscuro .card {
	background-color: darkslategrey;
}

img {
	border: 1px solid black;
	border-radius: 10px;
}

footer {
	font-family: 'Lobster', cursive;
	border-top: 2px solid black;
	padding: 15px;
	margin-bottom: 0;
	height: 15%;
	background-color: #87a8a5;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

.modo-oscuro header {
	background-color: rgb(16, 5, 43);
}
.modo-oscuro footer {
	background-color: rgb(16, 5, 43);
}
.modo-oscuro h1 {
	color: grey;
}
.modo-oscuro h2 {
	color: grey;
}

.conteinerFormulario {
	border-radius: 10px;
	border: 2px solid darkblue;
	padding: 20px;
	margin: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

#login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

label {
	margin: 10px;
}

#loginIncorrecto {
	display: none;
}
.modo-oscuro #loginIncorrecto {
	color: white;
}
.modo-oscuro #tituloLogin {
	color: white;
}